

.image-card-1 {
  background-color: #18A4F7
}

.image-card-2 {
  background-color: #00D7D2
}

.image-card-3 {
  background-color: #FF75A0
}

.image-card img {
  height: 150px;
  width: 150px;
  object-fit: cover
}



/* === Homepage === */

.navbar-nav .dropdown-menu {
    display: none;
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Center the video */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.video-container video {
  width: 100%;
  height: auto;
}

.flag-icon {
  width: 20px;
  height: 14px;
  margin-right: 5px;
  margin-left: 5px;
}

img.sponsor-logos-even {margin-top: 20px}
img.sponsor-logos-odd {margin-top: 20px;margin-left: 80px}


/* === Rules === */

li.rule{padding:10px}
ol.rules{list-style:decimal;padding-left:20px;}
ul.rules{list-style:square;padding-left:20px;}
.tg{border-collapse:collapse;border-spacing:0;}
.tg td{border-color:#ccc;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:#ccc;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:middle}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-g7sd{border-color:inherit;font-weight:bold;text-align:left;vertical-align:middle}



/*===========================
    clients-01 css 
===========================*/
.client-logo-area .section-title-two {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client-logo-area .section-title-two {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .client-logo-area .section-title-two {
    margin-bottom: 35px;
  }
}
.client-logo-area .section-title-two span {
  text-transform: capitalize;
  color: var(--white);
  background: var(--primary);
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 4px;
}
.client-logo-area .section-title-two h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client-logo-area .section-title-two h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .client-logo-area .section-title-two h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.client-logo-area .section-title-two p {
  color: var(--dark-3);
}

/*===== Client Logo One =====*/
.client-logo-one {
  padding-top: 100px;
  padding-bottom: 100px;
}
.client-logo-one .single-client {
  margin-top: 30px;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #f7f7f7;
}





.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

// Usage
.custom-container {
  @include make-container();
}










/*

TemplateMo 560 Astro Motion

https://templatemo.com/tm-560-astro-motion

*/
/*Search Bar Start*/
.section-bgc {
  background-color: var(--primary-bg-color);
}
.intro-slider,
.intro-item {
    display: block;
    min-height: 40rem;
    overflow: hidden;
}

.intro-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3.5rem 0;
  color: var(--text-primary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-color);
  width: 100%;
}

.intro-item .container {
  position: relative;
  z-index: 3;
}

.intro-item::after {
  content: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.7;
}

.intro-item .section-desc {
  max-width: 100%;
}

.intro-content {
  width: 100%;
  max-width: 25rem;
  padding: 0 0 3.75rem 0;
}

.intro-btns {
  margin-top: 1.625rem;
}
.intro-content {
  padding-bottom: 0;
}

.intro-content .section-desc {
  color: var(--text-primary);
}

.intro-item::after {
  background-color: var(--primary-color);
  opacity: 0.8;
}
.section-heading {
  margin-bottom: 3.25rem;
}
.section-desc {
  margin: 1.25rem auto 0 auto;
  max-width: 35rem;
  color: var(--text-secondary);
}
.wrap-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 0 -1.25rem -1.25rem;
}
.wrap-btn .btn {
  display: block;
  margin: 0 0 1.25rem 1.25rem;
}
.intro-btns {
  margin-top: 1.625rem;
}



@media (min-width:500px) { .containerr { width: 50% !important;} }

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}




.wrapper {
  width: 100%;
  max-width: 31.25rem;
}

.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 200%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

.searchQuerySubmit:hover {
  cursor: pointer;
}

/*Search Bar End*/



/*CTA & Table*/
.contact-table {
  border: none
}

table, th, td {
  border: 1px solid;
  padding-block: 10px;
  text-align-last: center;
  padding:30px;
}

.call-to-action {
    padding: 100px 0;
    background: url("../img/sub.jpg");
    background-size: cover;
    color: #fff;
  }
  
  .call-to-action h2 {
    line-height: 1.5;
  }
  
  .call-to-action p {
    color: #fff;
  }
  
  .call-to-action .btn-main, .call-to-action .btn-main-sm btn-main-sm2 {
    margin-top: 20px;
  }


/*
*
* ==========================================
* FAQ Collapse Section
* ==========================================
*
*/
/* Horizontal line */
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
  }
  
  /* Vertical line */
  .collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
  }
  
  .collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
  }
  
  .collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
  }


  /*
*
* ==========================================
*  Navigation Addons Section
* ==========================================
*
*/
/* Rounded tabs */

@media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
  }
  
  @media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
  }
  
  /* With arrow tabs */
  
  .with-arrow .nav-link.active {
    position: relative;
  }
  
  .with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  
  /* lined tabs */
  
  .lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  body {
    background: #304352;
    background: -webkit-linear-gradient(to right, #304352, #d7d2cc);
    background: linear-gradient(to right, #304352, #d7d2cc);
    min-height: 100vh;
  }
  
  .nav-pills .nav-link {
    color: #555;
  }
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  

/*=================================================================
  Very Long Common Section
==================================================================*/

.no-padding {
    padding: 0 !important;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  figure {
    margin: 0;
  }
  
  a {
    transition: all .3s ease-in 0s;
  }
  
  iframe {
    border: 0;
  }
  
  a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
  }
  
  a:focus, a:hover {
    color: #f0326b;
  }
  
  .btn-main, .btn-main-sm {
    background-color: #21D6BF;
    background-image: linear-gradient(100deg, #f9643d, #fe2a77);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 100px 40px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
  }
  .btn-main, .btn-main-sm2 {
    background-color: #21D6BF;
    background-image: linear-gradient(100deg, #ffffff, #ffebf2);
    color: rgb(30, 30, 30);
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 100px 40px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .btn-main:hover, .btn-main-sm:hover {
    color: #fff;
  }
  
  .btn-main-sm {
    padding: 8px 20px;
    font-size: 12px;
  }
  .btn-main-sm2 {
    padding: 12px 24px;
    margin: 18px 0;
    font-size: 12px;
  }
  
  .btn-transparent {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px 40px;
    text-transform: uppercase;
  }
  
  .btn-transparent:hover {
    color: #fff;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .mt-40 {
    margin-top: 40px;
  }
  
  .mt-50 {
    margin-top: 50px;
  }
  
  .btn:focus {
    color: #ddd;
  }
  
  #home {
    position: relative;
  }
  
  .section {
    padding: 100px 0;
  }
  
  @media (max-width: 480px) {
    .section {
      padding: 40px 0;
    }
  }
  
  .padding-0 {
    padding: 0;
  }
  
  @media (max-width: 768px) {
    .padding-0 {
      padding: 0 15px;
    }
  }
  
  .section-sm {
    padding: 70px 0;
  }
  
  .section-xs {
    padding: 40px 0;
  }
  
  .btn.active:focus, .btn:active:focus, .btn:focus {
    outline: 0;
  }
  
  #preloader {
    background: #f0326b;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
  }
  
  .preloader {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .preloader .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .preloader .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  
  .preloader .sk-circle2 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .preloader .sk-circle3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  
  .preloader .sk-circle4 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .preloader .sk-circle5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  
  .preloader .sk-circle6 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  
  .preloader .sk-circle7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .preloader .sk-circle8 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
  }
  
  .preloader .sk-circle9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  
  .preloader .sk-circle10 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  
  .preloader .sk-circle11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  
  .preloader .sk-circle12 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
  }
  
  .preloader .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .preloader .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  
  .preloader .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .preloader .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  .preloader .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  
  .preloader .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  
  .preloader .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
  .preloader .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  
  .preloader .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
  
  .preloader .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
  
  .preloader .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .title {
    padding-bottom: 50px;
    text-align: center;
  }
  
  .title h2 {
    font-size: 35px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 8px;
    font-weight: 700;
  }
  
  .title h4 {
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    letter-spacing: 3.3px;
    text-transform: uppercase;
  }
  
  .title p {
    color:  white;
    width: 50%;
    margin: 0 auto;
  }
  
  @media (max-width: 480px) {
    .title p {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .title p {
      width: 80%;
    }
  }
  
  .title .border {
    border: none;
    display: inline-block;
    border-radius: 3px;
    height: 6px;
    position: relative;
    width: 90px;
    margin-bottom: 10px;
  }
  
  .bg-gray {
    background: #ffffff;
  }
  
  .color-gray {
    color: #777;
  }
  
  .shadow {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.34);
  }
  
  .gradient, .title .border, .service-2 .service-item i {
    background-image: linear-gradient(100deg, #f9643d, #fe2a77);
  }
  
  .header-bradcrumb {
    background: transparent;
  }
  
  .header-bradcrumb a, .header-bradcrumb .active {
    color: #cfcfcf;
    font-weight: 200;
    font-family: "Titillium Web", sans-serif;
  }
  
  .header-bradcrumb a:hover {
    color: #f0326b;
  }
  
  .slick-slide {
    outline: none;
  }
  
  .commonTab .nav-tabs {
    text-align: center;
    background: none;
    border: none;
  }
  
  .commonTab .nav-tabs .nav-item {
    margin: 0 3px;
    background: none;
    border: none;
  }
  
  .commonTab .nav-tabs .nav-item .nav-link {
    color: white;
    text-transform: capitalize;
    border-radius: 0;
    background: none;
    border: none;
  }
  
  .commonTab .nav-tabs .nav-item .nav-link.active {
    background: none;
    border: none;
  }
  
  .commonTab .nav-tabs .nav-item .nav-link:hover {
    color: #fff;
    background: none;
    border: none;
  }
  
  .commonTab .tab-content {
    padding-top: 30px;
  }
  
  .rev_slider_wrapper {
    height: calc(100vh - 80px) !important;
    margin-top: 80px;
  }
  
  @media (max-width: 992px) {
    .rev_slider_wrapper {
      margin-top: 60px;
    }
  }
  
  .bg-pricing {
    background: url("../img/people-dark.jpg");
    background-size: cover;
  }
  
  .single-page-header {
    background: #1f2532;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 80px;
  }
  
  @media (max-width: 992px) {
    .single-page-header {
      margin-top: 60px;
    }
  }
  
  .single-page-header .breadcrumb {
    background: transparent;
    display: inline-block;
  }
  
  .single-page-header .breadcrumb li {
    display: inline-block;
  }
  
  .single-page-header .breadcrumb li a {
    color: #f0326b;
  }
  
  .navigation {
    transition: .3s all;
    background: #1f2532;
  }
  
  .navigation .navbar-nav > li.active a {
    color: #fff;
  }
  
  .navigation .navbar-nav > li > a {
    color: #707d8f;
    font-size: 15px;
    line-height: 26px;
    padding: 20px 15px !important;
    transition: .2s ease-in-out 0s;
  }
  
  @media (max-width: 480px) {
    .navigation .navbar-nav > li > a {
      padding: 8px 0 !important;
    }
  }
  
  @media (max-width: 768px) {
    .navigation .navbar-nav > li > a {
      padding: 8px 0 !important;
    }
  }
  
  .navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > a:active, .navigation .navbar-nav > li > a:focus {
    background: none;
    color: #f0326b;
  }
  
  .navigation .navbar-toggler {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    outline: none;
  }
  
  .navigation .nav .open > a {
    background: none;
  }
  
  .navigation .dropdown {
    padding: 0;
  }
  
  .navigation .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  
  .navigation .dropdown .dropdown-item {
    padding: 8px 15px;
    color: #fff;
    font-size: 13px;
  }
  
  .navigation .dropdown .dropdown-item:hover {
    background: transparent;
    color: #f0326b;
  }
  
  .navigation .dropdown .dropdown-menu {
    border-radius: 0;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    background-color: #000;
    display: block;
    opacity: 0;
    transition: .3s ease;
    visibility: hidden;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    transform-origin: top;
  }
  
  @media (max-width: 992px) {
    .navigation .dropdown .dropdown-menu {
      display: none;
      opacity: 1;
      visibility: visible;
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: unset;
              transform-origin: unset;
    }
  }
  
  .navigation .dropdown .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  
  @media (max-width: 992px) {
    .navigation .dropdown .dropdown-menu.show {
      display: block;
    }
  }
  
  .navbar-brand {
    height: auto;
    padding: 8px 0;
  }
  
  .navbar-brand h1 {
    margin: 0;
  }
  
  .hero-area {
    padding: 150px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2532;
  }
  
  @media (max-width: 480px) {
    .hero-area {
      padding: 80px 0;
    }
  }
  
  .hero-area .block {
    color: #fff;
    padding-left: 30px;
  }
  
  @media (max-width: 480px) {
    .hero-area .block {
      padding: 0;
    }
  }
  
  .hero-area .block h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-area .block p {
    color: #707d8f;
    margin-bottom: 20px;
  }
  
  .hero-area .block .list-inline {
    margin-top: 50px;
  }
  
  .hero-area .block .btn-main, .hero-area .block .btn-main-sm {
    margin-right: 8px;
  }
  
  .video-player iframe {
    width: 100%;
    height: 100%;
  }
  
  .video-player .play-icon {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .video-player .play-icon i {
    margin-left: 3px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    background: #fff;
    color: #f0326b;
    line-height: 80px;
    font-size: 30px;
    margin-left: 5px;
  }
  
  .video-player .play-icon:hover i {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .hero-area-video {
    height: 100vh;
    position: inherit !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-area-video .block {
    color: #fff;
    text-align: center;
  }
  
  .hero-area-video .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .hero-area-video .block p {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  
  .hero-area-video .block .btn-main, .hero-area-video .block .btn-main-sm {
    margin-top: 20px;
  }
  
  .dark-bg {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

/*=================================================================
  About us section
==================================================================*/
.about {
    background: #fff;
  }
  
  .about h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
  }
  
  @media (max-width: 992px) {
    .about h2 {
      font-size: 25px;
    }
  }
  
  .about h4 {
    font-size: 14px;
    color: #f0326b;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .about p {
    line-height: 1.6;
    margin-top: 20px;
  }
  
  .about .content {
    padding: 50px 0;
  }
  
  @media (max-width: 992px) {
    .about .content {
      padding: 5px 0;
    }
  }

/*=================================================================
  About us 2 section
==================================================================*/

.about-2 {
    background: rgba(0, 0, 80, 0.3);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .about-2 h2 {
    position: relative;
  }
  
  .about-2 h2:before {
    position: absolute;
    left: -15%;
    top: 18px;
    content: '';
    display: inline-block;
    width: 12%;
    height: 3px;
  }
  
  @media (max-width: 768px) {
    .about-2 h2:before {
      display: none;
    }
  }

/*=================================================================
   Button section
==================================================================*/
.btn {
    display: inline-block;
    font-size: 14px;
    font-size: 0.8125rem;
    font-weight: 400;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    border-radius: 0;
    transition: all 0.2s ease;
  }
  
  .btn.btn-icon i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .btn:focus {
    outline: 0px;
    border: 0px;
    box-shadow: none;
  }
  
  .btn-main, .btn-transparent, .btn-small {
    background: #f75757;
    color: #fff;
    transition: all 0.2s ease;
  }
  
  .btn-main:hover, .btn-transparent:hover, .btn-small:hover {
    background: #dd0b0b;
    color: #fff;
  }
  
  .btn-solid-border {
    border: 2px solid #f75757;
    background: transparent;
    color: #242424;
  }
  
  .btn-solid-border:hover {
    border: 2px solid #f75757;
    background: #f75757;
  }
  
  .btn-transparent {
    background: transparent;
    padding: 0;
    color: #f75757;
  }
  
  .btn-transparent:hover {
    background: transparent;
    color: #f75757;
  }
  
  .btn-large {
    padding: 20px 45px;
  }
  
  .btn-large.btn-icon i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .btn-small {
    padding: 10px 25px;
    font-size: 12px;
  }
  
  .btn-round {
    border-radius: 4px;
  }
  
  .btn-round-full {
    border-radius: 50px;
  }
  

 /*=================================================================
   Slider section
==================================================================*/
.slider {

    background-position: 10% 0%;
    padding: 100px 0 100px 0;
    position: relative;
  }
  
  .slider .block h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    color: #fff;
  }
  
  .slider .block p {
    margin-bottom: 30px;
    color: #b9b9b9;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
  }


   /*=================================================================
   Glow Effects Section
==================================================================*/
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(255, 255, 255)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(246, 246, 246);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




/*=================================================================
  Main section
==================================================================*/

html, body, .page-container {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: white;
    line-height: 1.5;
}

a {
	color: grey;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
	color: #3CF;
}

p {
    line-height: 1.7;
}

h2 {
    font-size: 1.8rem;
}


.btn {
    font-size: 1.3rem;
    padding: 13px 23px;
    border-radius: 0;
}

.btn-primary {
    background-color: white;
    border: none;
    color: black;
}

.btn-primary:hover,
.btn-primary:focus {
    color: grey;
    background-color: white;
}

/* Style the video: 100% width and height to cover the entire window */
#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url(../img/tm-astro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tm-nav {
    z-index: 1000;
}

.navbar a {
    color: black;
}

.navbar {
    transition: all 0.5s;
}

.navbar-brand {
    font-size: 2.4rem;
    max-height: 60px;
    margin-left: 50px;
 
}

.navbar {
    background-color: white;
}


.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    padding: 10px 30px;
    border-bottom: 1px solid white;
}

.nav-item {
    position: relative;
}

/*Here I can add rainbow background*/
.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: black;
    border-bottom: 1px solid black;
}

.navbar-toggler-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/800px-Hamburger_icon.svg.png);}

.navbar-toggler {
    border: 1px solid rgba(255,255,255,1);
}

.navbar-toggler:focus {
    box-shadow: none;
}




/*=================================================================
   About section
==================================================================*/
.tm-about-container {
    border-top: 1px solid white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}



@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

@media (max-width: 1200px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 15px 45px;
        background-color: white;
    }
}

@media (max-width: 1024px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 992px) {
    .navbar {
        margin-top: 0;
    }

    .navbar {
        position: relative;
    }
    
    .navbar-collapse {
        position: absolute;
        top: 63px;
        right: 0;
        background: rgb(54 75 96);
        border-radius: 5px;
    }

    .navbar .navbar-nav .nav-item {
        margin-bottom: 20px;
    }

    .page-left,
    .page-right {
        margin-left: auto;
        margin-right: auto;
    }

    .cd-hero-slider {
        padding: 10px 0;
    }
}

@media (max-width: 834px) {
    .intro-left {
        width: 65%;
    }

    .intro-right {
        width: 35%;
    }
}

@media (max-width: 767px) {
    .tm-contact-left {
        padding-right: 15px;
        margin-bottom: 50px;
    }

    .tm-footer-right {
        text-align: left;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .intro-left,
    .intro-right {
        width: 100%;
    }

    .intro-left {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: none;
    }

    .intro-right {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .intro-container {
        flex-direction: column;
    }

    .intro-img-1 {
        margin-right: 4%;
        margin-bottom: 0;
        width: 48%
    }

    .intro-img-2 {
        width: 48%;
    }
}


/*=================================================================
   Footer section
==================================================================*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}


 
